header {
  width: 100%;
  position: fixed;
  height: 100px;
  background-color: #fff;
  font-family: Poppins;
  .header {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header_one {
      width: auto;
    }
    .heeader_two {
      width: 40%;
      display: flex;
      justify-content: center;
      gap: 50px;
      a {
        font-size: 16px;
        font-family: Poppins;
        color: rgb(0, 0, 0);
        transition: 0.3s;
      }
      .x {
        width: 50px;
        height: 50px;
        position: absolute;
        right: 20px;
        display: none;
        top: 30px;
        svg {
          width: 30px;
          height: 30px;
          cursor: pointer;
        }
      }
      a:hover {
        color: rgba(140, 138, 138, 0.662);
      }
    }
    .header_three {
      width: auto;
      display: flex;
      justify-content: right;
      gap: 40px;
      position: relative;
      img {
        width: 24px;
        height: 24px;
        cursor: pointer;
      }
      .menu {
        width: 50px;
        height: 100%;
        display: none;
        svg {
          width: 28px;
          height: 28px;
          cursor: pointer;
        }
      }

      .cart {
        position: relative;
        .count {
          position: absolute;
          color: rgb(255, 255, 255);
          top: -10px;
          right: -10px;
          background-color: rgb(186, 147, 56);
          border-radius: 50%;
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          font-size: 13px;
        }
      }
    }
  }
}
.headroom-wrapper {
  z-index: 5;
  position: relative;
}

@media screen and (max-width: 875px) {
  header {
    .header {
      .heeader_two {
        transition: 0.3s;
        transition: 0.3s;
        position: fixed;
        width: 100%;
        background-color: rgb(183, 158, 95);
        z-index: 20;
        left: -100%;
        top: 0;
        display: grid;
        align-items: normal;
        padding-top: 200px;
        padding-bottom: 500px;
        a {
          display: flex;
          justify-content: center;
          width: 100%;
          padding: 10px 25px;
          border-radius: 10px;
          border: 1px solid black;
          &:hover {
            background-color: #fff;
            border: none;
            color: black;
          }
        }
        .x {
          display: block;
        }
      }
      .heeader_two.active {
        left: 0;
      }
      .header_three {
        .menu {
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  header {
    .header {
      .header_three {
        width: auto;
        gap: 20px;
        .user,
        s.shop .like {
          display: none;
        }
      }
      .heeader_two {
        .x {
          right: 15px;
        }
      }
    }
  }
}
